BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 1
ColumnLimit: 100
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
IndentCaseLabels: true
SpaceBeforeAssignmentOperators: true
PointerAlignment: Left
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BinPackArguments: false
BinPackParameters: false
ContinuationIndentWidth: 5
AlignAfterOpenBracket: Align
#BreakTemplateDeclarations: Yes
AccessModifierOffset: -12
AlignConsecutiveAssignments :
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: false
SortIncludes: false