BasedOnStyle: LLVM
IndentWidth: 15
TabWidth: 1
ColumnLimit: 200
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
IndentCaseLabels: true
SpaceBeforeAssignmentOperators: true
PointerAlignment: Left
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BinPackArguments: false
BinPackParameters: false
ContinuationIndentWidth: 10
AlignAfterOpenBracket: Align
#BreakTemplateDeclarations: Yes
AccessModifierOffset: -8
