[submodule "SDL4droid"]
	path = SDL4droid
	url = https://github.com/theanimatorspal/SDL4droid
[submodule "vendor/spirv-tools"]
	path = vendor/spirv-tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "vendor/spirv-cross"]
	path = vendor/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "vendor/glslang"]
	path = vendor/glslang
	url = https://github.com/KhronosGroup/glslang.git
